<!-- Navigation -->
<nav class="navbar navbar-default">
    <div class="container-fluid">

        <!-- Logo -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="../../index.html" class="navbar-brand">SHANK SPACE</a>
        </div>

        <!-- Menu Items -->
        <div class="collapse navbar-collapse" id="mainNavBar">
            <ul class="nav navbar-nav">
                <li><a href="../../index.html">Home</a></li>
                <li><a href="../pages/quotes.html">Quotes</a></li>
                <li><a href="../pages/code.html">Code</a></li>
                <li><a href="../pages/JavaScript.html">JavaScript</a></li>
            </ul>
        </div>

    </div>
</nav>
<!-- End of navigation -->