<div class="input-group">
    <span class="input-group-addon">Name</span>
    <input id="name-input" type="text" class="form-control" placeholder="Chemistry 1220">
</div>
<br>
<div class="input-group">
    <span class="input-group-addon">Notes</span>
    <textarea id="notes-input" class="form-control" rows="3" placeholder="Only meets on Wednesday, instructor's name, canvas page URL"></textarea>
</div>
<br>
<div class="input-group">
    <span class="input-group-addon">Time</span>
    <input id="time-input" type="text" class="form-control" placeholder="Thursday 4:05 - 5:00PM">
</div>
<br>
<div class="input-group">
    <button class="btn btn-primary" type="button" onclick="addClass()">Submit</button>
</div>