<!-- metadata and tab name for all site pages -->
<title>Shank Space</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!--Link to the BootStrap CSS File-->
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Link to the site-wide override CSS -->
<link rel="stylesheet" type="text/css" href="../../alex.css/override.css">

<!-- Link to the BOOTSTRAP JavaScript library -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<!-- For google login -->
<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="475941803768-ken45uco0p19stmnvgjit6d3mgtc9p0t.apps.googleusercontent.com">